.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 300px;
  border-radius: 10px;
  letter-spacing: 0.03em;
  font-size: 16px;
  padding-left: 42px;
  transition: all 0.15s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.icon {
  width: 21px;
  height: 21px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 15px;
}

.iconClear {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  right: 14px;
  top: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}